<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />
<img class="card-img" src="/Header.png" alt="..." />

<!--introservice-->
<!--<header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-4">
                    <h1 class="fw-bolder">Chào mừng bạn đến Đi Chợ Thuê</h1>
                    <img class="card-img" src="/Header.png" alt="..." />
                </div>
            </div>
</header>-->
<!-- Page content-->



<div class="bg-white">
    <div class="container py-5">

        <div class="row">
            <!-- Side widgets-->
            <div class=" col-lg-12">
                <!-- Nested row for non-featured blog posts-->
                <div class="row" id="allservicess">



                </div>
                <!-- next page-->
                <div id="layoutSidenav_content">
                    <div class="container-fluid px-4">

                        <!-- delete row -->
                        <script type='text/x-handlebars-template' id='service-table'> </script>
                        <script type='text/x-handlebars-template' id='data_table_service'> </script>


                        <div class=" col-lg-12">
                            <div class="tab-content" id="list_cus">
                                <h3>Thông tin đơn hàng</h3>


                                <div id="layoutSidenav_content">
                                    <div class="container-fluid px-4">
                                        <!-- Table -->
                                        <div class="card shadow mb-2">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">Thông tin đơn hàng 1
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">



                                                    <br>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered" id="#" width="100%"
                                                                cellspacing="0">
                                                                <thead id="tongtienne">
                                                                    <tr>
                                                                        <th>Tên</th>
                                                                        <th>SDT</th>
                                                                  
                                                                        <th>Các Gói/vắc xin</th>
                                                                        <th>Phương thức thanh toán</th>
                                                                        <th>Tình trạng đơn hàng</th>
                                                                        <th>Ngày lập đơn</th>
                                                                        <th>Ngày tiêm</th>
                                                                        <th>Giá tiền</th>

                                                                    </tr>

                                                                    {{!-- <tr>
                                                                        <th colspan="4" style="text-align:center"
                                                                            id="tongtien"> Tổng tiền</th>
                                                                    </tr> --}}


                                                                </thead>

                                                                <tbody id="data_table_service11">


                                                                </tbody>

                                                            </table>

                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <!-- Blog entries-->
        </div>
    </div>
</div>


<script>
    $('#category-tabs li a').click(function () {
        $(this).next('ul').slideToggle('500');
        $(this).find('i').toggleClass('fa-minus fa-plus ')
    });
</script>




<script type='text/x-handlebars-template' id='service-table'></script>
<script type='text/x-handlebars-template' id='service-table1'></script>
<script type='text/x-handlebars-template' id='allservices'></script>


<script>
    var id_donhang = localStorage.getItem("luu_id_don");
    console.log(id_donhang);


    var ele = document.getElementById("data_table_service11");
    var ele1 = document.getElementById("tongtienne");

    ham_getdetailbooking_duatren_madonhang(id_donhang, (result) => {
       
        console.log(result);
        var tengoi = "";
        console.log("do dai dsmua: ", result.payload.DSChiTiet[0].DSMua.length);
        for (var i = 0; i < result.payload.DSChiTiet[0].DSMua.length; i++) {
            console.log("ten vac xin: ", result.payload.DSChiTiet[0].DSMua[i].Ten);
            tengoi += result.payload.DSChiTiet[0].DSMua[i].Ten + ',';

            ele.innerHTML = ele.innerHTML +
                "<td>" + result.payload.DSChiTiet[0].customer_info.Ten + "</td>" +
                "<td>" + result.payload.DSChiTiet[0].customer_info.SDT + "</td>" +

                "<td>" + result.payload.DSChiTiet[0].DSMua[i].Ten + "</td>" +
                "<td>" + result.payload.DonHang.PhuongThucThanhToan + "</td>" +
                "<td>" + result.payload.DonHang.TinhTrangThanhToan + "</td>" +
                "<td>" + result.payload.DonHang.NgayLapDon + "</td>" +
                "<td>" + result.payload.DSChiTiet[0].NgayMuonTiem + "</td>" +
                "<td>" + result.payload.DSChiTiet[0].DSMua[i].GiaTien + "</td>";
        }
        console.log(result.payload.DSChiTiet[0].customer_info.Ten);
        console.log(result.payload.DSChiTiet[0].customer_info.SDT);
        console.log(result.payload.DonHang.PhanLoaiDH);
        console.log(tengoi);
        console.log(result.payload.DonHang.PhuongThucThanhToan);
        console.log(result.payload.DonHang.TinhTrangThanhToan);
        console.log(result.payload.DonHang.NgayLapDon);
        console.log(result.payload.DSChiTiet[0].NgayMuonTiem);
        console.log(result.payload.DonHang.TongTien);
    });

    console.log(ele.innerHTML);

    document.getElementById("data_table_service11").innerHTML = ele.innerHTML;

 


</script>





<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>