<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />
<img class="card-img" src="/Header.png" alt="..." />
<script src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="/public/javascripts/booking.js"> </script>






<!--introservice-->
<!--<header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-4">
                    <h1 class="fw-bolder">Chào mừng bạn đến Đi Chợ Thuê</h1>
                    <img class="card-img" src="/Header.png" alt="..." />
                </div>
            </div>
</header>-->
<!-- Page content-->
<div class="bg-white">
	<div class="container py-5">

		<div class="row">
			<!-- Side widgets-->
			<div class="col-lg-8">
				<!-- Search widget-->

				<div class="row">

					<form class="row g-3" id="add1">
						<h3><b>THÔNG TIN NGƯỜI TIÊM</b></h3>
						<div class="col-md-6">
							<label for="validationDefault01" class="form-label"><b>Họ tên người được
									tiêm</b></label>
							<input type="text" class="form-control" id="name" required>
						</div>
						<div class="col-md-3">
							<label for="validationDefault02" class="form-label"><b>Ngày sinh người
									tiêm</b></label>
							<input type="date" class="form-control" id="dateofbird" required>
						</div>

						<div class="col-md-3">
							<label for="validationDefault04" class="form-label"><b>Giới tính</b></label>
							<select class="form-select" id="gender" required>
								<option selected disabled value="">Choose...</option>
								<option value="0">Nam</option>
								<option value="1">Nữ</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="validationDefault04" class="form-label"><b>Mối quan
									hệ</b></label>
							<select class="form-select" id="relationship" required>
								<option selected disabled value="">Choose...</option>
								<option value="0">Cha</option>
								<option value="1">Mẹ</option>
								<option value="2">Ông</option>
								<option value="3">Bà</option>
								<option value="4">Bản thân</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="validationDefault01" class="form-label"><b>Số điện thoại</b></label>
							<input type="text" class="form-control" id="phone" required>
						</div>
						<div class="col-md-12">
							<label for="validationDefault01" class="form-label"><b>Email</b></label>
							<input type="text" class="form-control" id="email" required>
						</div>
						<div class="col-md-12">
							<label for="validationDefault08" class="form-label"><b>Địa chỉ</b></label>
							<input type="text" class="form-control" id="address" required>
						</div>

						<div class="col-md-4">
							<label for="validationDefault05" class="form-label"><b>Tỉnh/ Thành *</b></label>
							<select class="form-select" id="city" single onchange="validateSelectBox(this)">
								<option selected disabled value="">Tỉnh/Thành</option>

							</select>
						</div>

						<div class="col-md-4">
							<label for="validationDefault06" class="form-label"><b>Quận/ Huyện
									*</b></label>
							<select class="form-select" id="hometown" single onchange="validateSelectBox1(this)">

								<option value="">Quận/Huyện</option>

							</select>
						</div>

						<div class="col-md-4">
							<label for="validationDefault07" class="form-label"><b>Phường/ Xã *</b></label>
							<select class="form-select" id="wards" required>

								<option value="">Phường/Xã</option>

							</select>
						</div>



						<h3><b>CHỌN ĐỊA ĐIỂM MONG MUỐN TIÊM</b></h3>
						<div class="col-md-6">
							<label for="validationDefault05" class="form-label"><b>Tỉnh/Thành
									*</b></label>
							<select class="form-select" id="address_tiem" single onchange="validateSelectBox2(this)">
								<option selected disabled value="">Choose...</option>
								<option value="">...</option>

							</select>
						</div>
						<div class="col-md-6">
							<label for="validationDefault010" class="form-label"><b>Trung tâm VNVC gần quý
									khách</b></label>
							<select class="form-select" id="hub" required>
								<option selected disabled value="">Choose...</option>
								<option value="">...</option>

							</select>
						</div>
						<div class="col-md-12">
							<label for="validationDefault02" class="form-label"><b>Ngày mong muốn
									tiêm</b></label>
							<input type="date" class="form-control" id="date" required>
						</div>
						<!-- Button trigger modal -->
						{{!-- <button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#myModal">Tiếp tục</button> --}}
						<input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
							value="Tiếp tục">
					</form>


					<!-- -->
				</div>

			</div>
			{{!-- <!-- Blog entries-->
			<div class=" col-lg-4 py-5">
				<h3><b>DANH SÁCH NGƯỜI TIÊM</b></h3>
				<div class="row " id="list_cus">
					

				</div>
				<div class="col-12">
					<form action="/thanhtoan">

						<button class="btn btn-primary" type="submit">Thanh toán</button>
					</form>
				</div>

			</div> --}}

		</div>
	</div>
</div>


<script>
	$('#category-tabs li a').click(function () {
		$(this).next('ul').slideToggle('500');
		$(this).find('i').toggleClass('fa-minus fa-plus ')
	});

</script>

<script language="javascript">

	function validateSelectBox(obj) {

		var options = obj.children;

		// Biến lưu trữ các chuyên mục đa chọn
		var html = '';
		// lặp qua từng option và kiểm tra thuộc tính selected
		for (var i = 0; i < options.length; i++) {
			if (options[i].selected) {
				html += options[i].value;
			}
		}

		// hien thi quan huyen tuong ung voi thanh pho
		document.getElementById('hometown').innerHTML = "";
		get_allhometown(html, (result) => {
			var birds = result;
			var ele = document.getElementById('hometown');
			for (var i = 0; i <= birds.payload.length; i++) {
				// POPULATE SELECT ELEMENT WITH JSON.
				ele.innerHTML = ele.innerHTML +
					'<option value="' + birds.payload[i].id + '">' + birds.payload[i].name + '</option>';
			}
		});


	}
	function validateSelectBox1(obj) {
		var options = obj.children;
		// Biến lưu trữ các chuyên mục đa chọn
		var html = '';
		// lặp qua từng option và kiểm tra thuộc tính selected
		for (var i = 0; i < options.length; i++) {
			if (options[i].selected) {
				html += options[i].value;
			}
		}
		console.log(html);
		/*hien thi cac phuong xa de chon*/
		document.getElementById('wards').innerHTML = "";
		get_allwards(html, (result) => {
			var birds = result;
			var ele = document.getElementById('wards');
			for (var i = 0; i <= birds.payload.length; i++) {
				// POPULATE SELECT ELEMENT WITH JSON.
				ele.innerHTML = ele.innerHTML +
					'<option value="' + birds.payload[i].id + '">' + birds.payload[i].name + '</option>';
			}
		});

	}

	function validateSelectBox2(obj) {
		var options = obj.children;
		// Biến lưu trữ các chuyên mục đa chọn
		var html = '';
		// lặp qua từng option và kiểm tra thuộc tính selected
		for (var i = 0; i < options.length; i++) {
			if (options[i].selected) {
				html += options[i].value;
			}
		}
		/*hien thi cac trung tam tiem de chon*/
		document.getElementById('hub').innerHTML = "";
		get_allhub(html, (result) => {
			var birds = result;
			var ele = document.getElementById('hub');
			for (var i = 0; i <= birds.payload.length; i++) {
				// POPULATE SELECT ELEMENT WITH JSON.
				ele.innerHTML = ele.innerHTML +
					'<option value="' + birds.payload[i].id + '">' + birds.payload[i].name + '</option>';
			}
		});

	}

</script>



<script type='text/x-handlebars-template' id='service-table'></script>
<script type='text/x-handlebars-template' id='service-table1'></script>
<script type='text/x-handlebars-template' id='allservices'></script>


<script>
	/*hien thi cac tinh thanh de chon*/

	get_allcity((result) => {
		var birds = result;
		var ele = document.getElementById('city');
		for (var i = 0; i <= birds.payload.length; i++) {
			// POPULATE SELECT ELEMENT WITH JSON.
			ele.innerHTML = ele.innerHTML +
				'<option value="' + birds.payload[i].id + '">' + birds.payload[i].name + '</option>';
		}
	});

	/*hien thi cac tinh thanh co trung tam tiem de chon*/
	get_allcity1((result) => {
		var birds = result;
		var ele = document.getElementById('address_tiem');
		for (var i = 0; i <= birds.payload.length; i++) {
			// POPULATE SELECT ELEMENT WITH JSON.
			ele.innerHTML = ele.innerHTML +
				'<option value="' + birds.payload[i].id + '">' + birds.payload[i].name + '</option>';
		}
	});
</script>

{{!--
<script type="text/javascript">
	const { nanoid } = require('nanoid');
	var { nanoid } = require('nanoid');
</script> --}}


<script type="module">
	/*import { nanoid } from 'https://cdn.jsdelivr.net/npm/nanoid/nanoid.js';
	function get_nanoid() {
		let x = nanoid();
		return x;
	}*/

	var form = document.getElementById('add1');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		//var coookie_id = get_nanoid();
		//localStorage.setItem("cookie_cart", coookie_id);
		var coookie_id = localStorage.getItem("cookie_cart");
		//localStorage.setItem("cookie_cart", coookie_id);
		var le_hay_goi = localStorage.getItem("le_goi");
		console.log("day la: ", le_hay_goi);
		var list_dsmua = localStorage.getItem("list_arr_product");
		list_dsmua = list_dsmua.split(',');
		list_dsmua = list_dsmua.filter(item => item !== '');
		console.log(list_dsmua);

		var list_dsmua_le = localStorage.getItem("list_arr_le");
		list_dsmua_le = list_dsmua_le.split(',');
		list_dsmua_le = list_dsmua_le.filter(item => item !== '');
		console.log(list_dsmua_le);

		if(le_hay_goi == 0){
			var phanloaids = 0;
			phanloaids = parseInt(phanloaids, 10);
		}
		else{
			var phanloaids = 1;
			phanloaids = parseInt(phanloaids, 10);
			list_dsmua = list_dsmua_le;
		}
		
		
		
		var hoten = document.getElementById('name').value;
		var ngaysinh = document.getElementById('dateofbird').value;
		var gioitinh = document.getElementById('gender').value;
		gioitinh = parseInt(gioitinh, 10);
		var moiquanhe = document.getElementById('relationship').value;
		moiquanhe = parseInt(moiquanhe, 10);
		var sdt = document.getElementById('phone').value;
		sdt = sdt.slice(3);
		var email = document.getElementById('email').value;
		var diachi = document.getElementById('address').value;
		var tinhthanh = document.getElementById('city').value;
		var quanhuyen = document.getElementById('hometown').value;
		var phuongxa = document.getElementById('wards').value;
		var tinhthanhtiem = document.getElementById('address_tiem').value;
		var trungtam = document.getElementById('hub').value;
		var ngaytiem = document.getElementById('date').value;

		console.log(coookie_id);
		console.log("list ds mua: ", list_dsmua);
		console.log(hoten);
		console.log(gioitinh);
		console.log(sdt);
		console.log(email);
		console.log(diachi);
		console.log(ngaysinh);
		console.log(moiquanhe);
		console.log("phan loai danh sasch: ", phanloaids);
		console.log(tinhthanh);
		console.log(quanhuyen);
		console.log(phuongxa);
		console.log(tinhthanhtiem);
		console.log(trungtam);
		console.log(ngaytiem);
		add_product_into_cart1(coookie_id, hoten, gioitinh, sdt, email, diachi, ngaysinh, moiquanhe, list_dsmua, phanloaids, tinhthanh, quanhuyen, phuongxa, trungtam, ngaytiem);

		//cac();
		//list_view_cus1();
	});

</script>




{{!-- view thong tin chi tiet khach hang va goi vac xin da mua --}}




<script>
		 (function () {
			 'use strict'

			 // Fetch all the forms we want to apply custom Bootstrap validation styles to
			 var forms = document.querySelectorAll('.needs-validation')

			 // Loop over them and prevent submission
			 Array.prototype.slice.call(forms)
				 .forEach(function (form) {
					 form.addEventListener('submit', function (event) {
						 if (!form.checkValidity()) {
							 event.preventDefault()
							 event.stopPropagation()
						 }

						 form.classList.add('was-validated')
					 }, false)
				 })
		 })()
</script>
<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>