<head>
    <link href="/stylesheets/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <script src="../javascripts/api.js"></script>
    <script type="text/javascript" src="../javascripts/booking.js"> </script>
    <script type="text/javascript" src="../javascripts/cart.js"> </script>
    <script type="text/javascript" src="../javascripts/nc_service.js"> </script>

</head>

<body class="bg-gradient-primary">

    <div class="w4">
        <div class="sticky sticky--under-global-nav">
            <div class="_3LdYP7XrcrHalmIZ05kzPj pbt-xxs">
                <div class="pbt-xxs">
                    <div class="fr-accordion">
                        <div class="fr-accordion-head"><a data-test="filter-by-gender" class="" role="button"><span
                                    class="_2wCdhRHBXXINZ1NIbCOL5H"><span class="fr-accordion-head-text">Giới
                                        tính</span><span class="fr-accordion-head-arrow _31phY8eJm_NAdzPjkut6ST"><span
                                            class="fr-icon" aria-hidden="true" style="font-size: 24px;"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24">
                                                <path fill="#757575" fill-rule="evenodd"
                                                    d="M12 16.26l-7-6.03 1.34-1.49L12 13.62l5.66-4.88L19 10.23l-7 6.03zm48-8.52l-7 6.03 1.34 1.49L60 10.38l5.66 4.88L67 13.77l-7-6.03z">
                                                </path>
                                            </svg></span></span></span></a></div>
                        <div class="fr-accordion-items" aria-hidden="true">
                            <div class="fr-filter-content"><button class="fr-filter-link selected">Tất
                                    cả</button><button class="fr-filter-link">Nữ</button><button
                                    class="fr-filter-link">Nam</button><button class="fr-filter-link">Trẻ
                                    em</button><button class="fr-filter-link">Trẻ sơ sinh</button></div>
                        </div>
                    </div>
                    <div class="fr-accordion">
                        <div class="fr-accordion-head"><a data-test="filter-by-class" class="" role="button"><span
                                    class="_2wCdhRHBXXINZ1NIbCOL5H"><span
                                        class="fr-accordion-head-text">Loại</span><span
                                        class="fr-accordion-head-arrow _31phY8eJm_NAdzPjkut6ST"><span class="fr-icon"
                                            aria-hidden="true" style="font-size: 24px;"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24">
                                                <path fill="#757575" fill-rule="evenodd"
                                                    d="M12 16.26l-7-6.03 1.34-1.49L12 13.62l5.66-4.88L19 10.23l-7 6.03zm48-8.52l-7 6.03 1.34 1.49L60 10.38l5.66 4.88L67 13.77l-7-6.03z">
                                                </path>
                                            </svg></span></span></span></a></div>
                        <div class="fr-accordion-items" aria-hidden="true">
                            <div class="fr-filter-content"><button class="fr-filter-link" disabled="">Chọn giới
                                    tính</button></div>
                        </div>
                    </div>
                    <div class="fr-accordion">
                        <div class="fr-accordion-head"><a data-test="filter-by-category" class="" role="button"><span
                                    class="_2wCdhRHBXXINZ1NIbCOL5H"><span class="fr-accordion-head-text">Danh
                                        mục</span><span class="fr-accordion-head-arrow _31phY8eJm_NAdzPjkut6ST"><span
                                            class="fr-icon" aria-hidden="true" style="font-size: 24px;"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24">
                                                <path fill="#757575" fill-rule="evenodd"
                                                    d="M12 16.26l-7-6.03 1.34-1.49L12 13.62l5.66-4.88L19 10.23l-7 6.03zm48-8.52l-7 6.03 1.34 1.49L60 10.38l5.66 4.88L67 13.77l-7-6.03z">
                                                </path>
                                            </svg></span></span></span></a></div>
                        <div class="fr-accordion-items" aria-hidden="true">
                            <div class="fr-filter-content"><button class="fr-filter-link" disabled="">Chọn phân
                                    loại</button></div>
                        </div>
                    </div>
                    <div class="fr-accordion">
                        <div class="fr-accordion-head"><a data-test="filter-by-category" class="" role="button"><span
                                    class="_2wCdhRHBXXINZ1NIbCOL5H"><span class="fr-accordion-head-text">Danh mục
                                        phụ</span><span class="fr-accordion-head-arrow _31phY8eJm_NAdzPjkut6ST"><span
                                            class="fr-icon" aria-hidden="true" style="font-size: 24px;"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24">
                                                <path fill="#757575" fill-rule="evenodd"
                                                    d="M12 16.26l-7-6.03 1.34-1.49L12 13.62l5.66-4.88L19 10.23l-7 6.03zm48-8.52l-7 6.03 1.34 1.49L60 10.38l5.66 4.88L67 13.77l-7-6.03z">
                                                </path>
                                            </svg></span></span></span></a></div>
                        <div class="fr-accordion-items" aria-hidden="true">
                            <div class="fr-filter-content"><button class="fr-filter-link" disabled="">Chọn danh
                                    mục</button></div>
                        </div>
                    </div>
                    <div class="fr-h-rule full">
                        <hr>
                    </div>
                </div>
                <div class="fr-accordion">
                    <div class="fr-accordion-head"><a data-test="filter-by-size" class="" role="button"><span
                                class="_2wCdhRHBXXINZ1NIbCOL5H"><span class="fr-accordion-head-text">
                                    <div class="_1R0x33MJ2lXd3Csmu4hmxV">Kích cỡ</div>
                                </span><span class="fr-accordion-head-arrow _31phY8eJm_NAdzPjkut6ST"><span
                                        class="fr-icon" aria-hidden="true" style="font-size: 24px;"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                            height="24">
                                            <path fill="#757575" fill-rule="evenodd"
                                                d="M12 16.26l-7-6.03 1.34-1.49L12 13.62l5.66-4.88L19 10.23l-7 6.03zm48-8.52l-7 6.03 1.34 1.49L60 10.38l5.66 4.88L67 13.77l-7-6.03z">
                                            </path>
                                        </svg></span></span></span></a></div>
                    <div class="fr-accordion-items" aria-hidden="true">
                        <div>
                            <div class="fr-list mt-s mb-s">
                                <ul class="fr-filter-tiles fr-filter-tiles-size">
                                    <li class="fr-filter-tile" data-test="filter-XS"><input id="check-SMA002"
                                            type="checkbox" name="XS"><label for="check-SMA002"
                                            class="fr-filter-label">XS</label></li>
                                    <li class="fr-filter-tile" data-test="filter-S"><input id="check-SMA003"
                                            type="checkbox" name="S"><label for="check-SMA003"
                                            class="fr-filter-label">S</label></li>
                                    <li class="fr-filter-tile" data-test="filter-M"><input id="check-SMA004"
                                            type="checkbox" name="M"><label for="check-SMA004"
                                            class="fr-filter-label">M</label></li>
                                    <li class="fr-filter-tile" data-test="filter-L"><input id="check-SMA005"
                                            type="checkbox" name="L"><label for="check-SMA005"
                                            class="fr-filter-label">L</label></li>
                                    <li class="fr-filter-tile" data-test="filter-XL"><input id="check-SMA006"
                                            type="checkbox" name="XL"><label for="check-SMA006"
                                            class="fr-filter-label">XL</label></li>
                                    <li class="fr-filter-tile" data-test="filter-XXL"><input id="check-SMA007"
                                            type="checkbox" name="XXL"><label for="check-SMA007"
                                            class="fr-filter-label">XXL</label></li>
                                </ul>
                            </div>
                            <div class="fr-list mt-s mb-s">
                                <ul class="fr-filter-tiles fr-filter-tiles-size">
                                    <li class="fr-filter-tile double" data-test="filter-21inch"><input id="check-INS021"
                                            type="checkbox" name="21inch"><label for="check-INS021"
                                            class="fr-filter-label">21inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-22inch"><input id="check-INS022"
                                            type="checkbox" name="22inch"><label for="check-INS022"
                                            class="fr-filter-label">22inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-23inch"><input id="check-INS023"
                                            type="checkbox" name="23inch"><label for="check-INS023"
                                            class="fr-filter-label">23inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-24inch"><input id="check-INS024"
                                            type="checkbox" name="24inch"><label for="check-INS024"
                                            class="fr-filter-label">24inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-25inch"><input id="check-INS025"
                                            type="checkbox" name="25inch"><label for="check-INS025"
                                            class="fr-filter-label">25inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-26inch"><input id="check-INS026"
                                            type="checkbox" name="26inch"><label for="check-INS026"
                                            class="fr-filter-label">26inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-27inch"><input id="check-INS027"
                                            type="checkbox" name="27inch"><label for="check-INS027"
                                            class="fr-filter-label">27inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-28inch"><input id="check-INS028"
                                            type="checkbox" name="28inch"><label for="check-INS028"
                                            class="fr-filter-label">28inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-29inch"><input id="check-INS029"
                                            type="checkbox" name="29inch"><label for="check-INS029"
                                            class="fr-filter-label">29inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-30inch"><input id="check-INS030"
                                            type="checkbox" name="30inch"><label for="check-INS030"
                                            class="fr-filter-label">30inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-31inch"><input id="check-INS031"
                                            type="checkbox" name="31inch"><label for="check-INS031"
                                            class="fr-filter-label">31inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-32inch"><input id="check-INS032"
                                            type="checkbox" name="32inch"><label for="check-INS032"
                                            class="fr-filter-label">32inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-33inch"><input id="check-INS033"
                                            type="checkbox" name="33inch"><label for="check-INS033"
                                            class="fr-filter-label">33inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-34inch"><input id="check-INS034"
                                            type="checkbox" name="34inch"><label for="check-INS034"
                                            class="fr-filter-label">34inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-35inch"><input id="check-INS035"
                                            type="checkbox" name="35inch"><label for="check-INS035"
                                            class="fr-filter-label">35inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-36inch"><input id="check-INS036"
                                            type="checkbox" name="36inch"><label for="check-INS036"
                                            class="fr-filter-label">36inch</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-38inch"><input id="check-INS038"
                                            type="checkbox" name="38inch"><label for="check-INS038"
                                            class="fr-filter-label">38inch</label></li>
                                </ul>
                            </div>
                            <div class="fr-list mt-s mb-s">
                                <ul class="fr-filter-tiles fr-filter-tiles-size">
                                    <li class="fr-filter-tile double" data-test="filter-55cm"><input id="check-CMD055"
                                            type="checkbox" name="55cm"><label for="check-CMD055"
                                            class="fr-filter-label">55cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-58cm"><input id="check-CMD058"
                                            type="checkbox" name="58cm"><label for="check-CMD058"
                                            class="fr-filter-label">58cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-61cm"><input id="check-CMD061"
                                            type="checkbox" name="61cm"><label for="check-CMD061"
                                            class="fr-filter-label">61cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-64cm"><input id="check-CMD064"
                                            type="checkbox" name="64cm"><label for="check-CMD064"
                                            class="fr-filter-label">64cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-67cm"><input id="check-CMD067"
                                            type="checkbox" name="67cm"><label for="check-CMD067"
                                            class="fr-filter-label">67cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-73cm"><input id="check-CMD073"
                                            type="checkbox" name="73cm"><label for="check-CMD073"
                                            class="fr-filter-label">73cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-76cm"><input id="check-CMD076"
                                            type="checkbox" name="76cm"><label for="check-CMD076"
                                            class="fr-filter-label">76cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-79cm"><input id="check-CMD079"
                                            type="checkbox" name="79cm"><label for="check-CMD079"
                                            class="fr-filter-label">79cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-82cm"><input id="check-CMD082"
                                            type="checkbox" name="82cm"><label for="check-CMD082"
                                            class="fr-filter-label">82cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-85cm"><input id="check-CMD085"
                                            type="checkbox" name="85cm"><label for="check-CMD085"
                                            class="fr-filter-label">85cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-88cm"><input id="check-CMD088"
                                            type="checkbox" name="88cm"><label for="check-CMD088"
                                            class="fr-filter-label">88cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-91cm"><input id="check-CMD091"
                                            type="checkbox" name="91cm"><label for="check-CMD091"
                                            class="fr-filter-label">91cm</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-95cm"><input id="check-CMD095"
                                            type="checkbox" name="95cm"><label for="check-CMD095"
                                            class="fr-filter-label">95cm</label></li>
                                </ul>
                            </div>
                            <div class="fr-list mt-s mb-s">
                                <ul class="fr-filter-tiles fr-filter-tiles-size">
                                    <li class="fr-filter-tile double" data-test="filter-6-12(70)"><input
                                            id="check-BVI070" type="checkbox" name="6-12(70)"><label for="check-BVI070"
                                            class="fr-filter-label">6-12(70)</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-12-18(80)"><input
                                            id="check-BVI080" type="checkbox" name="12-18(80)"><label for="check-BVI080"
                                            class="fr-filter-label">12-18(80)</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-18-24(90)"><input
                                            id="check-BVI090" type="checkbox" name="18-24(90)"><label for="check-BVI090"
                                            class="fr-filter-label">18-24(90)</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-3-4Y(100)"><input
                                            id="check-BVI100" type="checkbox" name="3-4Y(100)"><label for="check-BVI100"
                                            class="fr-filter-label">3-4Y(100)</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-4-5Y(110)"><input
                                            id="check-BVI110" type="checkbox" name="4-5Y(110)"><label for="check-BVI110"
                                            class="fr-filter-label">4-5Y(110)</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-6-7Y(120)"><input
                                            id="check-BVI120" type="checkbox" name="6-7Y(120)"><label for="check-BVI120"
                                            class="fr-filter-label">6-7Y(120)</label></li>
                                </ul>
                            </div>
                            <div class="fr-list mt-s mb-s">
                                <ul class="fr-filter-tiles fr-filter-tiles-size">
                                    <li class="fr-filter-tile double" data-test="filter-8-9Y(130)"><input
                                            id="check-KVI130" type="checkbox" name="8-9Y(130)"><label for="check-KVI130"
                                            class="fr-filter-label">8-9Y(130)</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-10-11Y(140)"><input
                                            id="check-KVI140" type="checkbox" name="10-11Y(140)"><label
                                            for="check-KVI140" class="fr-filter-label">10-11Y(140)</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-12-13Y(150)"><input
                                            id="check-KVI150" type="checkbox" name="12-13Y(150)"><label
                                            for="check-KVI150" class="fr-filter-label">12-13Y(150)</label></li>
                                    <li class="fr-filter-tile double" data-test="filter-14Y(160)"><input
                                            id="check-KVI160" type="checkbox" name="14Y(160)"><label for="check-KVI160"
                                            class="fr-filter-label">14Y(160)</label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-accordion">
                    <div class="fr-accordion-head"><a data-test="filter-by-colour" class="" role="button"><span
                                class="_2wCdhRHBXXINZ1NIbCOL5H"><span class="fr-accordion-head-text">
                                    <div class="_1R0x33MJ2lXd3Csmu4hmxV">Màu sắc</div>
                                </span><span class="fr-accordion-head-arrow _31phY8eJm_NAdzPjkut6ST"><span
                                        class="fr-icon" aria-hidden="true" style="font-size: 24px;"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                            height="24">
                                            <path fill="#757575" fill-rule="evenodd"
                                                d="M12 16.26l-7-6.03 1.34-1.49L12 13.62l5.66-4.88L19 10.23l-7 6.03zm48-8.52l-7 6.03 1.34 1.49L60 10.38l5.66 4.88L67 13.77l-7-6.03z">
                                            </path>
                                        </svg></span></span></span></a></div>
                    <div class="fr-accordion-items" aria-hidden="true">
                        <div class="fr-list mt-s mb-s">
                            <ul class="fr-filter-tiles">
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Trắng">
                                    <span class="fr-filter-tile color filter-white fr-filter-tile-color"><input
                                            id="check-white-undefined" type="checkbox" name="WHITE">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Trắng" style="display: flex; width: 45px;">
                                                <div><label for="check-white-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-white wDs30iV_uGV2OEaUPxJZ3"
                                                            style="width: 45px; height: 45px;"></div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Xám"><span
                                        class="fr-filter-tile color filter-gray fr-filter-tile-color"><input
                                            id="check-gray-undefined" type="checkbox" name="GRAY">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Xám" style="display: flex; width: 45px;">
                                                <div><label for="check-gray-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-gray" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Đen"><span
                                        class="fr-filter-tile color filter-black fr-filter-tile-color"><input
                                            id="check-black-undefined" type="checkbox" name="BLACK">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Đen" style="display: flex; width: 45px;">
                                                <div><label for="check-black-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-black" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Hồng"><span
                                        class="fr-filter-tile color filter-pink fr-filter-tile-color"><input
                                            id="check-pink-undefined" type="checkbox" name="PINK">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Hồng" style="display: flex; width: 45px;">
                                                <div><label for="check-pink-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-pink" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Đỏ"><span
                                        class="fr-filter-tile color filter-red fr-filter-tile-color"><input
                                            id="check-red-undefined" type="checkbox" name="RED">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Đỏ" style="display: flex; width: 45px;">
                                                <div><label for="check-red-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-red" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Cam"><span
                                        class="fr-filter-tile color filter-orange fr-filter-tile-color"><input
                                            id="check-orange-undefined" type="checkbox" name="ORANGE">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Cam" style="display: flex; width: 45px;">
                                                <div><label for="check-orange-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-orange" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Màu be">
                                    <span class="fr-filter-tile color filter-beige fr-filter-tile-color"><input
                                            id="check-beige-undefined" type="checkbox" name="BEIGE">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Màu be" style="display: flex; width: 45px;">
                                                <div><label for="check-beige-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-beige" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Nâu"><span
                                        class="fr-filter-tile color filter-brown fr-filter-tile-color"><input
                                            id="check-brown-undefined" type="checkbox" name="BROWN">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Nâu" style="display: flex; width: 45px;">
                                                <div><label for="check-brown-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-brown" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Vàng"><span
                                        class="fr-filter-tile color filter-yellow fr-filter-tile-color"><input
                                            id="check-yellow-undefined" type="checkbox" name="YELLOW">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Vàng" style="display: flex; width: 45px;">
                                                <div><label for="check-yellow-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-yellow" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Xanh lá">
                                    <span class="fr-filter-tile color filter-green fr-filter-tile-color"><input
                                            id="check-green-undefined" type="checkbox" name="GREEN">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Xanh lá" style="display: flex; width: 45px;">
                                                <div><label for="check-green-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-green" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Xanh lam">
                                    <span class="fr-filter-tile color filter-blue fr-filter-tile-color"><input
                                            id="check-blue-undefined" type="checkbox" name="BLUE">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Xanh lam" style="display: flex; width: 45px;">
                                                <div><label for="check-blue-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-blue" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                                <li class="fr-filter-tile-wrapper _1c3i_ryrTbLkozPan5bitz" data-test="filter-Tím"><span
                                        class="fr-filter-tile color filter-purple fr-filter-tile-color"><input
                                            id="check-purple-undefined" type="checkbox" name="PURPLE">
                                        <div class="css-1oin9j2">
                                            <div data-tip="Tím" style="display: flex; width: 45px;">
                                                <div><label for="check-purple-undefined" class="_37B6HCW1Dmjvz4lYgtH4zE"
                                                        style="border: 0px; text-transform: none; cursor: pointer; font-size: 14px;">
                                                        <div class="bg-color-purple" style="width: 45px; height: 45px;">
                                                        </div>
                                                    </label></div>
                                            </div>
                                        </div>
                                    </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fr-accordion">
                    <div class="fr-accordion-head"><a data-test="filter-by-price" class="" role="button"><span
                                class="_2wCdhRHBXXINZ1NIbCOL5H"><span class="fr-accordion-head-text">
                                    <div class="_1R0x33MJ2lXd3Csmu4hmxV">Giá</div>
                                </span><span class="fr-accordion-head-arrow _31phY8eJm_NAdzPjkut6ST"><span
                                        class="fr-icon" aria-hidden="true" style="font-size: 24px;"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                            height="24">
                                            <path fill="#757575" fill-rule="evenodd"
                                                d="M12 16.26l-7-6.03 1.34-1.49L12 13.62l5.66-4.88L19 10.23l-7 6.03zm48-8.52l-7 6.03 1.34 1.49L60 10.38l5.66 4.88L67 13.77l-7-6.03z">
                                            </path>
                                        </svg></span></span></span></a></div>
                    <div class="fr-accordion-items" aria-hidden="true">
                        <div class="fr-price-filter">
                            <ul>
                                <li class="item"><span class="fr-check"><input type="checkbox" id="spa-checkbox-group-1"
                                            name="Dưới 199.000 VND" value="0-199000"><label for="spa-checkbox-group-1"
                                            style="cursor: pointer;"><span style="font-size: 14px;">Dưới 199.000
                                                VND</span></label></span></li>
                                <li class="item"><span class="fr-check"><input type="checkbox" id="spa-checkbox-group-2"
                                            name="199.000 VND - 299.000 VND" value="199000-299000"><label
                                            for="spa-checkbox-group-2" style="cursor: pointer;"><span
                                                style="font-size: 14px;">199.000 VND - 299.000 VND</span></label></span>
                                </li>
                                <li class="item"><span class="fr-check"><input type="checkbox" id="spa-checkbox-group-3"
                                            name="299.000 VND - 399.000 VND" value="299000-399000"><label
                                            for="spa-checkbox-group-3" style="cursor: pointer;"><span
                                                style="font-size: 14px;">299.000 VND - 399.000 VND</span></label></span>
                                </li>
                                <li class="item"><span class="fr-check"><input type="checkbox" id="spa-checkbox-group-4"
                                            name="399.000 VND - 499.000 VND" value="399000-499000"><label
                                            for="spa-checkbox-group-4" style="cursor: pointer;"><span
                                                style="font-size: 14px;">399.000 VND - 499.000 VND</span></label></span>
                                </li>
                                <li class="item"><span class="fr-check"><input type="checkbox" id="spa-checkbox-group-5"
                                            name="499.000 VND - 799.000 VND" value="499000-799000"><label
                                            for="spa-checkbox-group-5" style="cursor: pointer;"><span
                                                style="font-size: 14px;">499.000 VND - 799.000 VND</span></label></span>
                                </li>
                                <li class="item"><span class="fr-check"><input type="checkbox" id="spa-checkbox-group-6"
                                            name="799.000 VND - 999.000 VND" value="799000-999000"><label
                                            for="spa-checkbox-group-6" style="cursor: pointer;"><span
                                                style="font-size: 14px;">799.000 VND - 999.000 VND</span></label></span>
                                </li>
                                <li class="item"><span class="fr-check"><input type="checkbox" id="spa-checkbox-group-7"
                                            name="Trên 999.000 VND" value="999000-0"><label for="spa-checkbox-group-7"
                                            style="cursor: pointer;"><span style="font-size: 14px;">Trên 999.000
                                                VND</span></label></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fr-accordion">
                    <div class="fr-accordion-head"><a data-test="filter-by-style" class="" role="button"><span
                                class="_2wCdhRHBXXINZ1NIbCOL5H"><span class="fr-accordion-head-text">
                                    <div class="_1R0x33MJ2lXd3Csmu4hmxV">Tieu Chi Khac</div>
                                </span><span class="fr-accordion-head-arrow _31phY8eJm_NAdzPjkut6ST"><span
                                        class="fr-icon" aria-hidden="true" style="font-size: 24px;"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                            height="24">
                                            <path fill="#757575" fill-rule="evenodd"
                                                d="M12 16.26l-7-6.03 1.34-1.49L12 13.62l5.66-4.88L19 10.23l-7 6.03zm48-8.52l-7 6.03 1.34 1.49L60 10.38l5.66 4.88L67 13.77l-7-6.03z">
                                            </path>
                                        </svg></span></span></span></a></div>
                    <div class="fr-accordion-items" aria-hidden="true">
                        <div class="fr-filter-content">
                            <div>
                                <ul style="list-style: none; display: block;">
                                    <li class="staMXpBmwiS_VIKfcGASN" data-test="filter-Sale"><span><input
                                                type="checkbox" name="Sale"><span class="fr-check"><input
                                                    type="checkbox" id="spa-checkbox-group-8"><label
                                                    for="spa-checkbox-group-8" style="cursor: pointer;"><span
                                                        style="font-size: 14px;">Sale</span></label></span></span></li>
                                    <li class="staMXpBmwiS_VIKfcGASN" data-test="filter-Pre-Sales"><span><input
                                                type="checkbox" name="Pre-Sales"><span class="fr-check"><input
                                                    type="checkbox" id="spa-checkbox-group-9"><label
                                                    for="spa-checkbox-group-9" style="cursor: pointer;"><span
                                                        style="font-size: 14px;">Pre-Sales</span></label></span></span>
                                    </li>
                                    <li class="staMXpBmwiS_VIKfcGASN" data-test="filter-New"><span><input
                                                type="checkbox" name="New"><span class="fr-check"><input type="checkbox"
                                                    id="spa-checkbox-group-10"><label for="spa-checkbox-group-10"
                                                    style="cursor: pointer;"><span
                                                        style="font-size: 14px;">New</span></label></span></span></li>
                                    <li class="staMXpBmwiS_VIKfcGASN" data-test="filter-New Color"><span><input
                                                type="checkbox" name="New Color"><span class="fr-check"><input
                                                    type="checkbox" id="spa-checkbox-group-11"><label
                                                    for="spa-checkbox-group-11" style="cursor: pointer;"><span
                                                        style="font-size: 14px;">New Color</span></label></span></span>
                                    </li>
                                    <li class="staMXpBmwiS_VIKfcGASN" data-test="filter-Online Only"><span><input
                                                type="checkbox" name="Online Only"><span class="fr-check"><input
                                                    type="checkbox" id="spa-checkbox-group-12"><label
                                                    for="spa-checkbox-group-12" style="cursor: pointer;"><span
                                                        style="font-size: 14px;">Online
                                                        Only</span></label></span></span></li>
                                    <li class="staMXpBmwiS_VIKfcGASN" data-test="filter-Limited Store"><span><input
                                                type="checkbox" name="Limited Store"><span class="fr-check"><input
                                                    type="checkbox" id="spa-checkbox-group-13"><label
                                                    for="spa-checkbox-group-13" style="cursor: pointer;"><span
                                                        style="font-size: 14px;">Limited
                                                        Store</span></label></span></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </script>