<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />
<img class="card-img" src="/Header.png" alt="..." />

<!--introservice-->
<!--<header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-4">
                    <h1 class="fw-bolder">Chào mừng bạn đến Đi Chợ Thuê</h1>
                    <img class="card-img" src="/Header.png" alt="..." />
                </div>
            </div>
</header>-->
<!-- Page content-->



<div class="bg-white">
	<div class="container py-5">

		<div class="row">
			<!-- Side widgets-->
			<div class=" col-lg-12">
				<!-- Nested row for non-featured blog posts-->
				<div class="row" id="allservicess">



				</div>
				<!-- next page-->
				<div id="layoutSidenav_content">
					<div class="container-fluid px-4">

						<!-- delete row -->
						<script type='text/x-handlebars-template' id='service-table'> </script>
						<script type='text/x-handlebars-template' id='data_table_service'> </script>


						<div class=" col-lg-12">
							<div class="tab-content" id="list_cus">
								<h3>Thông tin đơn hàng</h3>


							</div>
						</div>

					</div>
				</div>
			</div>



			<!-- Blog entries-->
		</div>
	</div>
</div>


<script>
	$('#category-tabs li a').click(function () {
		$(this).next('ul').slideToggle('500');
		$(this).find('i').toggleClass('fa-minus fa-plus ')
	});
</script>




<script type='text/x-handlebars-template' id='service-table'></script>
<script type='text/x-handlebars-template' id='service-table1'></script>
<script type='text/x-handlebars-template' id='allservices'></script>


<script type="text/javascript">
	function cac1(t1) {
		localStorage.setItem("luu_id_don", t1);
		console.log("hello");
		console.log(t1);

	}
	//onclick = \"cac(" + list_donhang.payload[t1].id + ")\"  onclick = \"cac1("+t1+")\"

	function cac(id) {
		
		console.log(id);
		var x = document.getElementById(id).value;
		console.log(x);
		localStorage.setItem("luu_id_don", x);
		window.location = "http://localhost:8889/chitietdonhang";
	}
	const list_donhang = localStorage.getItem("id_donhangne");
	const parsedListDonhang = JSON.parse(list_donhang);
	console.log(parsedListDonhang);
	console.log(parsedListDonhang.payload.length);

	var ele = document.getElementById('list_cus');


	// hien thi cac khung thong tin don hang theo so don hang
	for (var t1 = 0; t1 < parsedListDonhang.payload.length; t1++) {
		ele.innerHTML = ele.innerHTML +
			"<div id=\"layoutSidenav_content\">" +
			"<div class=\"container-fluid px-4\">" +
			"<div class=\"card shadow mb-2\">" +
			"<div class=\"card-header py-3\">" +
			"<h6 class=\"m-0 font-weight-bold text-primary\">" + "Thông tin đơn hàng" +
			"</h6>" +
			"</div>" +
			"<div class=\"card-body\">" +
			"<div class=\"table-responsive\">" +


			"<br>" +
			"<div class=\"card-body\">" +
			"<div class=\"table-responsive\">" +
			"<table class=\"table table-bordered\" id=\"#\" width=\"100%\" cellspacing=\"0\">" +
			"<thead>" +
			"<tr id = \"tr" + t1 + "\">" +
			"<th>Họ Tên</th>" +
			"<th>Loại mua</th>" +
			"<th>Phương thức thanh toán</th>" +
			"<th>Tình trạng đơn hàng</th>" +
			"<th>Ngày lập đơn</th>" +
			"<th>Tổng tiền</th>" +
			"</tr>" +

			"</thead>" +
			"<tbody id=\"data_table_service_" + t1 + "\">" +
			"<td>" + parsedListDonhang.payload[t1].NguoiLH.HoTen + "</td>" +
			"<td>" + parsedListDonhang.payload[t1].PhanLoaiDH + "</td>" +
			"<td>" + parsedListDonhang.payload[t1].PhuongThucThanhToan + "</td>" +
			"<td>" + parsedListDonhang.payload[t1].TinhTrangThanhToan + "</td>" +
			"<td>" + parsedListDonhang.payload[t1].NgayLapDon + "</td>" +
			"<td>" + parsedListDonhang.payload[t1].TongTien + "</td>" +
			"</tbody>" +
			"</table>" +
			"</div>" +
			"</div>" +
			"</div>" +
			"<button class=\"btn btn-primary\" data-toggle=\"collapse\" id = \""+t1+"\" value = \""+parsedListDonhang.payload[t1].id+"\" onclick = \"cac("+t1+")\">" + "Xem chi tiết" + "</button>" +
			"</div>" +
			"</div>" +
			"</div>" +
			"</div>" +
			"</div>";

	}
	document.getElementById("list_cus").innerHTML = ele.innerHTML;

//onclick = \"console.log(" + JSON.stringify(1)  + ")\"
</script>





<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>