<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />
<img class="card-img" src="/Header.png" alt="..." />

<!--introservice-->
<!--<header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-4">
                    <h1 class="fw-bolder">Chào mừng bạn đến Đi Chợ Thuê</h1>
                    <img class="card-img" src="/Header.png" alt="..." />
                </div>
            </div>
</header>-->
<!-- Page content-->
<div class="bg-white">
	<div class="container py-5">

		<div class="row">
			<!-- Side widgets-->

			<!-- Search widget-->
			<h2 class="text-primary">TRA CỨU THÔNG TIN ĐẶT GIỮ VẮC XIN</h2>
			<p>Dùng số điện thoại đã đặt mua để đăng nhập hoặc đăng ký và tra cứu thông tin đơn hàng của quý khách.</p>
			<form class="row" id="addsdt">

				<label for="validationDefault01" class="form-label"></label>
				<input type="text" class="form-control" id="phone" required>
			</form>
			<form style="text-align: left;" id="search">
				<input type="submit" class="btn btn-primary" value="Tra cứu">
			</form>

			<!-- Blog entries-->
		</div>
	</div>
</div>



<script>
	var form = document.getElementById('search');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		var sdt = document.getElementById('phone').value;
		console.log(sdt);

		search_by_phone(sdt);


	});

</script>



<script type='text/x-handlebars-template' id='service-table'></script>
<script type='text/x-handlebars-template' id='service-table1'></script>
<script type='text/x-handlebars-template' id='allservices'></script>
<script type='text/x-handlebars-template' id='data_table_service'> </script>




{{!-- function hien thi danh sach san pham theo loai san pham --}}









<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">