<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />
<img class="card-img" src="/Header.png" alt="..." />

<!--introservice-->
<!--<header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-4">
                    <h1 class="fw-bolder">Chào mừng bạn đến Đi Chợ Thuê</h1>
                    <img class="card-img" src="/Header.png" alt="..." />
                </div>
            </div>
</header>-->
<!-- Page content-->
<div class="bg-white">
	<div class="container py-5">

		<div class="row">
			<!-- Side widgets-->
			<div class=" col-lg-8">
				<!-- Nested row for non-featured blog posts-->
				<div class="row" id="allservicess">



				</div>
				<!-- next page-->
				<div id="layoutSidenav_content">
					<div class="container-fluid px-4">

						<!-- delete row -->
						<script type='text/x-handlebars-template' id='service-table'> </script>
						<script type='text/x-handlebars-template' id='data_table_service'> </script>

						<div class=" col-lg-12">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#home">Câu hỏi tư vấn</a></li>
								{{!-- <li><a data-toggle="tab" href="#menu1">Vắc xin cho trẻ em</a></li>
								<li><a data-toggle="tab" href="#menu2">Vắc xin cho người lớn</a></li> --}}
							</ul>
							<div class="col-md-6">
								<label for="validationDefault04" class="form-label"><b>Chọn loại câu hỏi theo chủ
										đề</b></label>
								<select class="form-select" id="category_ques" required
									onchange="validateSelectBox(this)">
									<option selected disabled value="">Choose...</option>

								</select>
							</div>
						</div>
						<div class=" col-lg-12">
							<div class="tab-content">
								<h3>Câu hỏi tư vấn</h3>
								<div id="home" class="tab-pane fade in active">


									{{!-- <div class="card shadow mb-2">
										<div class="card-header py-3">
											<ul>
												<li>
													<h5 style="color:rgb(10, 10, 126);">
														<b>Thưa bác sĩ, vắc xin phòng ung thư cổ tử cung có bao nhiêu
															loại?
															Tiêm ở đâu và giá bao nhiêu ạ? Mong bác sĩ giải đáp.
														</b>
													</h5>
													<h6>Nguyễn Lê, TP.HCM</h6>
													<h6 style="text-align: right;">1 Trả lời</h6>
												</li>

												<li>
													<h5 style="text-align: center;">
														<b>Bác sĩ Vũ Thiện Cơ, Bác sĩ Quản lý vùng khu vực TP.HCM, Hệ
															thống
															Trung tâm tiêm chủng VNVC
														</b>
													</h5>
													<h6 style="text-align: center;">Chào Anh/Chị, Theo Quyết định số
														3802/QĐ-BYT ban hành ngày
														10/8/2021, phụ nữ mang thai từ 13 tuần trở lên và phụ nữ đang
														cho
														con
														bú được tiêm vaccine phòng Covid-19 để hạn chế nguy cơ lây nhiễm
														và
														biến
														chứng nghiêm trọng khi mắc bệnh.</h6>

												</li>
											</ul>
										</div>

									</div>
									--}}

								</div>
								{{!-- <div id="menu1" class="tab-pane fade">
									<h3>Vắc xin cho trẻ em</h3>
									<p>..............</p>
								</div>
								<div id="menu2" class="tab-pane fade">
									<h3>Vắc xin cho người lớn</h3>
									<p>............................</p>
								</div> --}}

							</div>
						</div>



					</div>
				</div>
			</div>



			<!-- Blog entries-->



			<div class=" col-lg-4">
				<!-- Nested row for non-featured blog posts-->
				<div class="row" id="allservicess">



				</div>
				<!-- next page-->
				<div id="layoutSidenav_content">
					<div class="container-fluid px-4">

						<!-- delete row -->
						<script type='text/x-handlebars-template' id='service-table'> </script>
						<script type='text/x-handlebars-template' id='data_table_service'> </script>




						<!-- Table -->
						<div class="card shadow mb-2">

							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">ĐẶT CÂU HỎI</h6>
							</div>
							<div class="card-body">

								<form class="row g-2">
									<div class="col-md-12">
										<label for="validationDefault01" class="form-label"><b>Họ tên *</b></label>
										<input type="text" class="form-control" id="name" required>
									</div>
									<div class="col-md-6">
										<label for="validationDefault04" class="form-label"><b>Giới tính *</b></label>
										<select class="form-select" id="gender" required>
											<option selected disabled value="">Choose...</option>
											<option value="0">Nam</option>
											<option value="1">Nữ</option>

										</select>
									</div>
									<div class="col-md-6">
										<label for="validationDefault01" class="form-label"><b>Tuổi *</b></label>
										<input type="text" class="form-control" id="tuoi" required>
									</div>
									<div class="col-md-12">
										<label for="validationDefault08" class="form-label"><b>Email *</b></label>
										<input type="text" class="form-control" id="email" required>
									</div>
									<div class="col-md-12">
										<label for="validationDefault08" class="form-label"><b>Số điện thoại
												*</b></label>
										<input type="text" class="form-control" id="phonenumber" required>
									</div>
									<div class="col-md-12">
										<label for="validationDefault08" class="form-label"><b>Địa chỉ *</b></label>
										<input type="text" class="form-control" id="address" required>
									</div>

									<div class="col-md-12">
										<label for="validationDefault010" class="form-label"><b>Chúng tôi có thể giúp gì
												cho bạn
												*</b></label>
										<select class="form-select" id="category_question" required>

											<option value="">...</option>

										</select>
									</div>
									<div class="col-md-12">
										<label for="exampleFormControlTextarea1" class="form-label"><b>Câu hỏi của bạn
												*</b></label>
										<textarea class="form-control" id="question" rows="3"></textarea>

									</div>
									<p>Bạn muốn nhận câu trả lời qua hình thức:<br>
										- Email: Ghi rõ địa chỉ email<br>
										- Facebook mess: Nhấn like page, vào phần GỬI TIN NHẮN và để lại tin nhắn theo
										cú pháp: TV_Số điện thoại.
										Vui lòng sử dụng đúng số điện thoại nêu trên.</p>
								</form>
								<div class="col-12">
									<form action="/dangkytiem_lienhe" id="post_cauhoi">
										<input type="submit" class="btn btn-primary" data-toggle="modal"
											data-target="#guicauhoi" value="Gửi câu hỏi">
									</form>
								</div>
							</div>
						</div>


					{{!-- 	<div id="guicauhoi" class="modal fade" role="dialog">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Thông báo</h4>
									</div>
									<div class="modal-body">
										<p>Gửi câu hỏi thành công</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
											data-dismiss="modal">Close</button>
									</div>
								</div>

							</div>
						</div> --}}

					</div>
				</div>
			</div>







		</div>
	</div>
</div>


<script>
	$('#category-tabs li a').click(function () {
		$(this).next('ul').slideToggle('500');
		$(this).find('i').toggleClass('fa-minus fa-plus ')
	});
</script>




<script type='text/x-handlebars-template' id='service-table'></script>
<script type='text/x-handlebars-template' id='service-table1'></script>
<script type='text/x-handlebars-template' id='allservices'></script>


<div id="all-r"></div>
{{!-- them vao gio hang localStorage.setItem("senddata", JSON.stringify(b)); --}}
<script>
	var getCookies = function () {
		var pairs = document.cookie.split(";");
		var cookies = {};
		for (var i = 0; i < pairs.length; i++) {
			var pair = pairs[i].split("=");
			cookies[(pair[0] + '').trim()] = unescape(pair.slice(1).join('='));
		}
		return cookies;
	}

	var myCookies = getCookies();
	//console.log(myCookies.secret); // "do not tell you"
	//console.log(document.cookie);

</script>


{{!-- hien thi cac cau hoi va tra loi theo danh muc --}}


<script>
	function validateSelectBox(obj) {

		var options = obj.children;

		// Biến lưu trữ các chuyên mục đa chọn
		var html = '';
		// lặp qua từng option và kiểm tra thuộc tính selected
		for (var i = 0; i < options.length; i++) {
			if (options[i].selected) {
				html += options[i].value;
			}
		}

		// hien thi quan huyen tuong ung voi thanh pho
		document.getElementById('home').innerHTML = "";
		console.log(html);
		get_all_ques_by_category(html, (result) => {
			console.log("danh muc cau hoi", result);
			var ele = document.getElementById('home');
			for (var i = 0; i <= result.payload.length; i++) {
				// POPULATE SELECT ELEMENT WITH JSON.
				if (result.payload[i].answer_content == null) {
					ele.innerHTML = ele.innerHTML +
						"<div class=\"card shadow mb-2\">" +
						"<div class=\"card-header py-3\">" +
						"<ul>" +
						"<li>" +
						"<h5 style=\"color:rgb(10, 10, 126);\">" +
						"<b>" + result.payload[i].question_content +
						"</b>" +
						"</h5>" +
						"<h6>" + result.payload[i].customer_info.name + ',' + result.payload[i].customer_info.address + "</h6>" +
						"<h6 style=\"text-align: right;\">0 Trả lời</h6>" + //dsds
						"</li>" +

						"<li>" +
						"<h5 style=\"text-align: center;\">" +
						"<b>" +
						"</b>" +
						"</h5>" +
						"<h6 style=\"text-align: center;\">" +

						"</h6>" +
						"</li>" +
						"</ul>" +
						"</div>" +
						"</div>";
				}
				else {
					ele.innerHTML = ele.innerHTML +
						"<div class=\"card shadow mb-2\">" +
						"<div class=\"card-header py-3\">" +
						"<ul>" +
						"<li>" +
						"<h5 style=\"color:rgb(10, 10, 126);\">" +
						"<b>" + result.payload[i].question_content +
						"</b>" +
						"</h5>" +
						"<h6>" + result.payload[i].customer_info.name + ',' + result.payload[i].customer_info.address + "</h6>" +
						"<h6 style=\"text-align: right;\">1 Trả lời</h6>" + //dsds
						"</li>" +

						"<li>" +
						"<h5 style=\"text-align: center;\">" +
						"<b>" + "Bác sĩ: " + result.payload[i].hotline_name +
						"</b>" +
						"</h5>" +
						"<h6 style=\"text-align: center;\">" +
						result.payload[i].answer_content +
						"</h6>" +
						"</li>" +
						"</ul>" +
						"</div>" +
						"</div>";
				}

			}
			document.getElementById("home").innerHTML = ele.innerHTML;
		});

	}



</script>



<script>
	get_all_category_question((result) => {
		var ele = document.getElementById('category_question');
		for (var i = 0; i <= result.payload.length; i++) {
			// POPULATE SELECT ELEMENT WITH JSON.
			ele.innerHTML = ele.innerHTML +
				'<option value="' + result.payload[i].category_id + '">' + result.payload[i].category_name + '</option>';
		}
	});
	get_all_cate_ques((result) => {
		var ele = document.getElementById('category_ques');
		for (var i = 0; i <= result.payload.length; i++) {
			// POPULATE SELECT ELEMENT WITH JSON.
			ele.innerHTML = ele.innerHTML +
				'<option value="' + result.payload[i].category_id + '">' + result.payload[i].category_name + '</option>';
		}
	});

	var form = document.getElementById('post_cauhoi');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		var hoten = document.getElementById('name').value;
		var gioitinh = document.getElementById('gender').value;
		var tuoi = document.getElementById('tuoi').value;
		var email1 = document.getElementById('email').value;
		var sdt = document.getElementById('phonenumber').value;
		var diachi = document.getElementById('address').value;
		var loaicauhoi = document.getElementById('category_question').value;
		var cauhoi = document.getElementById('question').value;

		console.log(hoten);
		console.log(gioitinh);
		console.log(tuoi);
		console.log(email1);
		console.log(sdt);
		console.log(diachi);
		console.log(loaicauhoi);
		console.log(cauhoi);
		add_question(hoten, gioitinh, tuoi, sdt, email1, diachi, cauhoi, loaicauhoi);


	});

</script>



<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>