<script src="../javascripts/api.js"></script>
<script type="text/javascript" src="../javascripts/booking.js"> </script>
<script type="text/javascript" src="../javascripts/cart.js"> </script>
<script type="text/javascript" src="../javascripts/nc_service.js"> </script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylebutton.css" />
<img class="card-img" src="/Header.png" alt="..." />

<!--introservice-->
<!--<header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-4">
                    <h1 class="fw-bolder">Chào mừng bạn đến Đi Chợ Thuê</h1>
                    <img class="card-img" src="/Header.png" alt="..." />
                </div>
            </div>
</header>-->
<!-- Page content-->
<div class="bg-white">
	<div class="container py-5">

		<div class="row">
			<!-- Side widgets-->
			<div class="col-lg-4">
				<!-- Search widget-->

				<div class="row">
					<div class="card-body">
						<form class="form-inline my-5 my-lg-3" id="add4">
							<input class="form-control mr-sm-3 " id="search_service" type="search" placeholder="Search"
								aria-label="Search">
							<button class="btn btn-primary" type="submit">
								<i class="fas fa-search fa-sm"></i>
							</button>
						</form>
					</div>

					<!-- Categories widget-->

					<div class="title"><strong>Danh mục</strong></div>

					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category" onclick="list_all_service1()">Tất cả</a>

						</li>
					</ul>

					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category" href="javascript:void"
								onclick="list_service_bycategory(2)">Vắc xin cho người trưởng thành</a>

						</li>
					</ul>

					<ul id="category-tabs">
						<li><a href="javascript:void" class="main-category" href="javascript:void"
								onclick="list_service_bycategory(1)">Vắc xin cho trẻ em</a>

						</li>
					</ul>

				</div>

			</div>
			<!-- Blog entries-->



			<div class=" col-lg-8">
				<!-- Nested row for non-featured blog posts-->
				<div class="row" id="allservicess">



				</div>
				<!-- next page-->
				<div id="layoutSidenav_content">
					<div class="container-fluid px-4">
						<!-- Table -->
						<div class="card shadow mb-2">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">DANH MỤC GÓI VẮC XIN CHO TRẺ 0-9 THÁNG
								</h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>STT</th>
												<th>Giá tiền</th>
											</tr>
										</thead>

										<tbody id="data_table_service">


										</tbody>

									</table>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>





<script type='text/x-handlebars-template' id='service-table'></script>
<script type='text/x-handlebars-template' id='service-table1'></script>
<script type='text/x-handlebars-template' id='allservices'></script>
<script type='text/x-handlebars-template' id='data_table_service'> </script>

{{!-- hien thi tat ca san pham hien co --}}
<script>
	function list_all_service1() {

		document.getElementById("data_table_service").innerHTML = "";

		list_all_service((result) => {
			var birds = result;
			console.log(result);
			var ele = document.getElementById('data_table_service');
			for (var i = 0; i < birds.payload.length; i++) {
				ele.innerHTML = ele.innerHTML + "<tr>" +
					"<td hidden>" + birds.payload[i].id + "</td>" +
					"<td>" + birds.payload[i].Ten + "</td>" +
					"<td>" + birds.payload[i].GiaTien + "</td></tr>";
			}
			/*"<a class=\"bi-cart-fill me-1\" onclick=\"add_service_tocart(" + birds.payload[0].id + ")\" id=\"detai\" >Chọn</a>" +*/
			document.getElementById("data_table_service").innerHTML = ele.innerHTML;


		});
	}
</script>

{{!-- hien thi san pham theo danh muc --}}
<script>
	function list_service_bycategory(id) {
		console.log(id);
		document.getElementById("data_table_service").innerHTML = "";
		getlistservice_byidcategory(id, (result) => {
			var birds = result;
			console.log(result);
			var ele = document.getElementById('data_table_service');

			for (var i = 0; i < birds.payload.length; i++) {

				ele.innerHTML = ele.innerHTML + "<tr>" +
					"<td hidden>" + birds.payload[i].id + "</td>" +
					"<td>" + birds.payload[i].Ten + "</td>" +
					"<td>" + birds.payload[i].GiaTien + "</td></tr>";
			}
			document.getElementById("data_table_service").innerHTML = ele.innerHTML;
		});
	}
</script>



{{!-- function hien thi danh sach san pham theo loai san pham --}}









<link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">